body{
    background-color:  #61ccc7;
}

.form-label{
    font-size: 20px;
    font-weight: bold;   
}

.form-label2{
  margin-left: 16%;
}


.radio{
    margin-left: 10%;
}

.mod1{
    margin-left: 10%;
}
.mod2{
    margin-left: 10%;
}
.sub{
    margin-left: 35%;
    margin-top: 5%;
}

.form-number{
    margin-left: 7%;
}


.tab-content{
position: fixed;
}

  .tf{        
    margin-left: 20%;
    padding: 5px; 
    background-color:  #6b86db ;
    width: 35cm;
    height: 300px;   
    justify-items: center;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    
  }
  .table1{
    margin-top: 2%;   
    border: 5px;
    border-style: solid; 
    border-color: black;
    border-width: 5%;
    padding: 2px; 
    background-color: #9BA3EB;
    width: 14cm;
    height: 280px;   
    margin: 5%;   
  }

  .table2{
    margin-top: 2%;   
    border: 5px;
    border-style: solid; 
    border-color: black;
    border-width: 5%;
    padding: 2px; 
    background-color: #9BA3EB;
    width: 14cm;
    height: 280px;   
    margin: 5%;   
  }

  .image{    
    border: 5px;
    border-style: solid; 
    border-color: black;
    border-width: 5%;
    padding: 0; 
    background-color: #9BA3EB;
    width: 15cm;
    height: 280px; 
    text-align: center;
    margin: 5%;
  } 

  .hinh{
    padding: 5px;
    margin-top: 15%;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: auto;    
  }

  p{
    font-size: 50px;
    font-weight: bold;
    margin-top: -85px;
    margin-left: 6.5%;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  }

  h6{
      
      font-size: large;
      font-weight: bold;
  }






  